extends layout

block extrahead
  link(rel="stylesheet", href="/css/content.css")

block content
  div.content-wrapper.flex(ng-controller="RankCtrl")
    div.content.container-rankings
      div.title.flex.flex-center
        h1 Chitter U Scoreboard

      h2 University Leaderboard
      div.container-leaderboard.flex.flex-center
        div.leaderboard-school(ng-repeat="school in data | orderBy:'-score'")
          div.container-logo.flex.flex-center
            img.show-for-medium-up(src="{{school.image}}")
          strong {{ school.name }}
          div Rank: {{ $index + 1 }}
          div Points: {{ school.score }}

      h2 University Rankings
      div.flex.flex-center
        div.container-orgs
          div.school(ng-repeat="school in data | orderBy:'name'")
            h3 {{ school.name }}
            table
              thead
                tr
                  th Rank
                  th Organization
                  th Points
              tbody
                tr(ng-repeat="org in school.orgs | orderBy:'-points' | limitTo: 8")
                  td {{ $index+1 }}
                  td {{ org.name }}
                  td {{ org.points }}

      h2 Chitter on Twitter
      a.twitter-timeline(href="https://twitter.com/getchitter", data-widget-id="508302796764876801") Tweets by @getchitter
      script.
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      h2 Bring Chitter U to Your Campus
      p
        | Want to bring Chitter U to your campus? We will be hand selecting 
        | another 5 schools for a rolling launch throughout the fall and into 
        | the winter. Simply download the app and select your university in 
        | the "Chitter U" tab.
      include widgets
