extends layout

block extrahead
  link(rel="stylesheet", href="/css/content.css")

block content
  div.content-wrapper.flex
    div.content
      div.title.flex.flex-center
        h1 Our Brand Experience Team

      div.container-team
        div.member
          img(src="http://placehold.it/260x160")
          h3 Bob Jim
          h4
            i.fa.fa-graduation-cap
            |  Stanford
          p sgsdfgsdf
        div.member
          img(src="http://placehold.it/260x160")
          h3 Bob Jim
          h4 Stanford
          p Jim's a really cool guy
        div.member
          img(src="http://placehold.it/260x160")
          h3 Bob Jim
          h4 Stanford
          p Jim's a really cool guy
        div.member
          img(src="http://placehold.it/260x160")
          h3 Bob Jim
          h4 Stanford
          p Jim's a really cool guy
