extends layout

block extrahead
  link(rel="stylesheet", href="/css/content.css")

block content
  div.content-wrapper.flex.flex-center
    div.content
      div.title.flex.flex-center
        h1 Our Brand Experience Team

      div.container-team.flex.flex-center(ng-controller="MemberCtrl")
        div.member(ng-repeat="member in teamMembers")
          img(src="{{ member.imageUrl }}")
          h3 {{ member.name }}
          h4
            i.fa.fa-graduation-cap
            |  {{ member.school }}
          p.bio {{ member.bio }}
      script
        | var teamMembers = !{JSON.stringify(teamMembers)}
