div.container-icons.flex.flex-row-center
  a.icon-app.flex.flex-center(href="http://t.co/2OJA0p6yBD", target="_blank")
    img.float-shadow(src="/img/apple.png")
  a.icon-app.flex.flex-center(href="http://t.co/WSO3MVmhf6", target="_blank")
    img.float-shadow(src="/img/google.png")
