div.container-icons.flex.flex-row-center
  a.icon-app(href="http://t.co/2OJA0p6yBD", target="_blank")
    i.fa.fa-apple
    h3 iOS
  a.icon-app(href="http://t.co/WSO3MVmhf6", target="_blank")
    i.fa.fa-android
    h3 Android
