// General ------------------------------------------------------------------
body
    text-align center

.content-wrapper
    text-align center
    width 100%
    justify-content center
.content
    max-width 900px
.content p
    font-size 1.1em

.video
    margin-top 10px
    margin-bottom 20px

// Nav bar ------------------------------------------------------------------
.nav-bar a
    color black
.nav-bar a:visited
    color black

.trim:before
    border black solid 4px

// Large title -------------------------------------------------------------
.title
    height 180px
    font-size 1.6em

// App icons ---------------------------------------------------------------
.container-icons
    text-align center
    height 200px
.icon-app
    margin-left 100px
    margin-right 100px
.icon-app i
    font-size 70px

// Team members --------------------------------------------------------------
.container-team
    display flex
    flew-flow row wrap
    -webkit-flex-flow row wrap
    justify-content space-around

.member
    min-height 350px
    width 280px
    border 1px solid #eee
    margin 10px
.member img
    margin-top 10px
    margin-bottom 10px
