// General ------------------------------------------------------------------
body
    text-align center

.content-wrapper
    text-align center
    justify-content center
.content
    max-width 900px
@media only screen
    .content p
        font-size 1em
@media only screen and (min-width: 40.063em)
    .content p
        font-size 1.1em

.video
    margin-top 10px
    margin-bottom 20px

.twitter-timeline
    margin-bottom 25px

// Nav bar ------------------------------------------------------------------
.nav-bar a
    color black
.nav-bar a:visited
    color black

.trim:before
    border black solid 4px

// Large title -------------------------------------------------------------
@media only screen
    .title
        font-size 1em
        height 100px
@media only screen and (min-width: 40.063em)
    .title
        font-size 1.6em
        height 140px
    .title h1
        font-family "Roboto Slab", serif
        font-weight bold
        font-family 

// App icons ---------------------------------------------------------------
.container-icons
    text-align center
    height 180px
.icon-app
    margin-left 40px
    margin-right 40px
.icon-app img
    height 60px
@media only screen
    .icon-app
        width 100%
@media only screen and (min-width: 40.063em)
    .icon-app
        width auto

// Team members --------------------------------------------------------------
.container-team
    display flex
    flew-flow row wrap
    -webkit-flex-flow row wrap
    justify-content space-around

.member
    min-height 350px
    width 280px
    border 1px solid #eee
    margin 10px
.member img
    margin-top 10px
    margin-bottom 10px

// Rankings --------------------------------------------------------------
.container-orgs
    width 700px

.school
    display flex
    flex-flow row wrap
    justify-content space-between

.container-table
    width 200px

.leaderboard-school
    margin-left 50px
    margin-right 50px
.leaderboard-school img
    width 200px
@media only screen
    .leaderboard-school
        height 100px
    .container-logo
        display none
@media only screen and (min-width: 40.063em)
    .leaderboard-school
        height 280px
    .container-logo
        display flex
    
.container-logo
    height 200px

.container-leaderboard
    flex-wrap wrap
