html
    background url("/img/mall.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    height 100%
body
    background inherit

// Large title -------------------------------------------------------------
.title
    text-align center
    font-size 2em
.title h1
    font-family "Roboto Slab", serif
    margin 0
    font-weight 700
    margin-bottom 10px
@media only screen
    .title
        padding-top 10px
    .title h1
        font-size 1.5em
@media only screen and (min-width: 40.063em)
    .title
        padding-top 40px
    .title h1
        font-size 2.5em

// Bottom nav bar -------------------------------------------------------------
.nav-bar
    background rgba(0,0,0,.7)
    position fixed
    bottom 0
.nav-bar a
.nav-bar a:visited
    color white !important
@media only screen
    .nav-bar
        background rgba(0,0,0,.3)
@media only screen and (min-width: 40.063em)
    .nav-bar
        background rgba(0,0,0,.7)
