html
    background url("/img/mall.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    height 100%
body
    background inherit

// Large title -------------------------------------------------------------
.title
    padding-top 80px
    text-align center
    font-size 2em
.title h1
    font-family "Roboto Slab", serif
    margin 0
    font-size 2.5em
    font-weight 700

// Bottom nav bar -------------------------------------------------------------
.nav-bar
    background rgba(0,0,0,.7)
    position fixed
    bottom 0
.nav-bar a
.nav-bar a:visited
    color white !important
