html
    background url("/img/mall.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    height 100%
body
    background inherit

// Large title -------------------------------------------------------------
.title
    padding-top 80px
    text-align center
    font-size 2em
.title h1
    font-family "Roboto Slab", serif
    margin 0
    font-size 2.5em
    font-weight 700

.flex
    display flex
.flex-center
    display flex
    align-items center
    justify-content center

// Bottom nav bar -------------------------------------------------------------
nav-height = 85
.nav-bottom
    background rgba(0,0,0,.7)
    height 95px
    position fixed
    width 100%
    bottom 0

    flex-flow row nowrap
    align-items center
    justify-content center

.logo
.logo img
    height 80%
    width auto
    margin-left 15px
    margin-right auto

.nav-item
    color white
    margin-left 40px
    margin-right 40px
    font-size 1.6em
    text-align center
    display block
    
.nav-button
    height 80%
.nav-button:hover
    cursor pointer
    cursor hand
