@import 'nib'
@import url("http://fonts.googleapis.com/css?family=Roboto:400,900,300")
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,700")


// Colors ------------------------------------------------------------------
dark-brown = rgb(86,41,26)
light-brown = rgb(255,214,149)

// General ------------------------------------------------------------------
html
body
    height 100%
    margin 0
    padding 0
    font-family "Roboto", sans-serif

// Temp rankings page -----------------------------------------------------
.temp-rankings
    display flex
    height 70% !important
    align-items center
    justify-content center
    flex-flow column nowrap

// Nav bar ------------------------------------------------------------------
.nav-bar
    width 100%
    align-items center
    justify-content center

@media only screen
    .nav-bar
        flex-flow row wrap

@media only screen and (min-width: 40.063em)
    .nav-bar
        height 95px
        flex-flow row nowrap

.logo
.logo img
    height 60px
    width 222px
@media only screen
    .logo img
        margin-top 15px
        margin-bottom 15px
@media only screen and (min-width: 40.063em)
    .logo img
        margin-top 0px
        margin-bottom 0px

.nav-item
    text-align center
    
.nav-button:hover
    cursor pointer
    cursor hand
@media only screen
    .logo
    .nav-button
        width 100%
        height 50px
    .nav-item
        margin-left 20px
        margin-right 20px
        font-size 1em
@media only screen and (min-width: 40.063em)
    .logo
    .nav-button
        width auto
        height 50px
    .nav-item
        margin-left 40px
        margin-right 40px
        font-size 1.3em

// Flex ---------------------------------------------------------------------
.flex
    display flex
.flex-center
    align-items center
    justify-content center
.flex-row-center
    flex-flow row wrap
    align-items center
    justify-content center
